* {
  box-sizing: border-box;
  	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
  font-family: helvetica neue, sans-serif;
}
header {
  margin: 0 5% 2% 5%;
  overflow: auto;
}
.housingmatchicon {
}
.housingmatchicon img {
  float: left;
  width: 80px;
  padding-right: 10px;
}
.fireplacetitle {
  float: left;
  width: 50%;
}
.fireplacetitle h1 {
  margin: 0;
}
.tagline {
  font-size: 0.8em;
}
.tagline h2 {

}
nav {
  float: right;
  width: 30%;
}
nav h3 {
  text-align: right;
  margin: 0;
  color: orange;
  font-weight: 200;
}
.container {
  margin: 0 5%;
}
.summary {
  margin-bottom: 3%;
}
button {
  width: 200px;
  padding: 1%;
  border: 2px solid orange;
  background-color: white;
  font-size: 1em;
  font-weight: 500;
  border-radius: 20px;
  clear: both;
  /* clear: both; clear the element itself, not the element after it! */
}
.bttnsm {
  width: 70px;
  font-size: 0.8em;
}
.bttnmed {
}
.bttnbig  {
}
section {
  clear: both;
  overflow: auto;
  padding: 1% 3%;
}
.sectionbox {
  background-color: silver;
}
.navicon {
  font-size: 2em;
  float: right;
  position: relative;
  bottom: 60px;
}


/*------ FORM LAYOUT AND STYLING -----*/
.row-form {
  clear: both;
}
form {
  clear: both;
  margin-bottom: 3%;
}
input {
  border: 1px solid darkgrey;
  /* height affects checkboxes! */
  font-size: 1.3em;
  padding-left: 2%; /* affects checkboxes! */
}
.col6 {
  width: 90%;
}
.dropdown-style {
  width: 100%;
  max-width: 700px;
  height: 30px;
}
.form-basic-info input {
  border: 1px solid blue;
  margin-bottom: 1%;
}
.location .col12 {
  height: 100px;
  width: 90%;
}
@media screen and (min-width: 700px) {
  .col6 {
    margin-right: 2%;
    float: left;
    margin-bottom: 2%;
  }
  .col12 {
    max-width: 700px;
  }
  .col6 {
    width: 40%;
  }
}

.overview h2 {
  font-size: 2em;
  margin-top: 0;
}
.overview .benefit {
  width: 25%;
  float: left;
  overflow: auto;
  text-align: center;
  font-size: 0.8em;
}
.benefit img {
  width: 50px;
  margin: 0 auto;
}


/* browse section styling ----------- */
  /* FLEX-WRAP SO AVATARS GO TO NEXT ROW */

.light-weight-p {
  font-weight: 200;
}
.browse .avatar-row { /* why is this including the button and the h2????? */
  background-color: lightsteelblue;
  overflow: auto;
  clear: both;
  /*  display: flex; THIS MAKES ALL THE CHILDREN BECOME %WIDTHS!  */
  height: 300px;
  flex-wrap: nowrap;
}
.right-side-info { /* define the type of avatar box that has buttons or text on the right side */
  width: 200px;
  border: 2px solid grey;
  float: left;
  padding: 1%;
  margin-right: 5%;
}
.right-side-info .avatar {
  margin: 0px;
}
.right-side-info img {
  border-radius: 10px;
}

/* discover section styling ----------- */
.discover .avatar-row {
  border: 2px solid grey;
  height: 120px;
  overflow: auto;
  clear: both;
  display: flex;
  wrap: flex-wrap;
}
.avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.avatar img {
  width: 100%;
}
.button-below-avatar {
  width: 90px;
  float: left;
  text-align: center;
  margin-right: 20px;

}
.avatar-row .socialmediaicons {

}
.socialicon {
  font-size: 2em;
  float: left;
  padding-right: 3%;
}

.invite form {
}



footer {
  margin: 0 5%;
  text-align: center;
  font-size: 0.7em;

}




/* convert this breakpoint to SASS variable!! */
@media screen and (min-width: 700px) {
  .overview h2 {
    font-size: 3em;
  }
  .benefit img {
    width: 90px; /* move to desktop, reduce for mobile */
  }
  .overview .benefit {
    font-size: normal;
  }
}
